### 1. Import the necessary packages - 2.5 marks

In [1]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
%matplotlib inline

import seaborn as sns

In [2]:
# Additional

import warnings
warnings.filterwarnings('ignore') # to get rid of warning messages

# Remove scientific notations and display numbers with 2 decimal points instead
pd.options.display.float_format = '{:,.2f}'.format        

# Update default background style of plots
sns.set_style(style='darkgrid')

### 2. Read the 3 datasets into dataframes - 2.5 marks

In [9]:
data1 = pd.read_csv("mobile-attack-v11.1-techniques.csv")
# item = pd.read_csv("item.csv")
# user = pd.read_csv("user.csv")
data = data1

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x92 in position 7523: invalid start byte

### 3. Apply info, shape, describe, and find the number of missing values in the data. Present at least 3 observations from these operations - 2.5 marks
 - Note that you will need to do it for all the three datasets seperately

In [ ]:
#data
print('*******************Dataset Info************************')
print(data.info())
print('*******************DataSet Shape***********************')
print(data.shape)
print('*********************Describe**************************')
print(data.describe())
print('*******************Number of nulls*********************')
print(data.isnull().sum())
print('*******************************************************')

In [ ]:
#item
print('*******************Dataset Info*************************')
print(item.info())
print('*******************DataSet Shape************************')
print(item.shape)
print('*********************Describe***************************')
print(item.describe())
print('******************Number of nulls***********************')
print(item.isnull().sum())
print('********************************************************')

In [ ]:
#user
print('*******************Dataset Info*************************')
print(user.info())
print('*******************DataSet Shape************************')
print(user.shape)
print('*********************Describe***************************')
print(user.describe())
print('******************Number of nulls***********************')
print(user.isnull().sum())
print('********************************************************')

**Observations:**

- `A total of 10,000 different ratings have been recorded from 943 different users for 1681 different movies.`

- `None of the datasets have null values.`

- `'Movie id' is common between data and item`

- `'user id' is common between data and user. These common columns will help us to merge the data files`

- `Range of ratings in 1 to 5`

- `All the genre columns (Action, Western, Sci-Fi, etc.) are binary in nature`

- `People from all age groups are present as minimumn age is 7 and maximum is 73`

### 4. Find the number of movies per genre using the item data - 2.5 marks

In [ ]:
item[['unknown', 'Action',
       'Adventure', 'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary',
       'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']].sum()

In [ ]:
item.loc[:,'Action':'Western'].sum()

**Insights:**

- `Drama has highest number of movie releases : 725.`

- `Fantasy has the lowest count i.e. 22 if we ignore unknown`

### 5. Drop the movie where the genre is unknown - 2.5 marks

In [ ]:
item['unknown'].value_counts()

In [ ]:
item = item[item['unknown']!=1]

In [ ]:
item['unknown'].value_counts()

**Insights:**

- `There was only movie that had genre as unknown therefore dropping the column 'unknown' as all the values left are 0`

In [ ]:
item.drop('unknown',axis=1,inplace=True)

### 6. Find the movies that have more than one genre - 5 marks

hint: use sum on the axis = 1

Display movie name, number of genres for the movie in dataframe

and also print(total number of movies which have more than one genres)

In [ ]:
item.columns

In [ ]:
new_item = item[['movie id', 'movie title']]

In [ ]:
new_item["Number of Genres"] =item.loc[:,'Action':'Western'].sum(axis=1)

In [ ]:
new_item[new_item['Number of Genres']>1]

In [ ]:
# Additional

new_item[new_item['Number of Genres']>1].sort_values(by='Number of Genres',ascending=False).head()

**Insights:**

- `Highest number of genres for a particular movie is 6`

- `Total 849 movies have more than one genre`

### 7. Univariate plots of columns: 'rating', 'Age', 'release year', 'Gender' and 'Occupation' - 10 marks

*HINT: Use distplot for age and countplot for release year, ratings, *

*HINT: Please refer to the below snippet to understand how to get to release year from release date. You can use str.split() as depicted below or you could convert it to pandas datetime format and extract year (.dt.year)*

In [ ]:
a = 'My*cat*is*brown'
print(a.split('*')[3])

#similarly, the release year needs to be taken out from release date

#also you can simply slice existing string to get the desired data, if we want to take out the colour of the cat

print(a[10:])
print(a[-5:])

In [ ]:
sns.distplot(user['age'],color='orange')
plt.show()

**Insights:**

- `Most of the people are between 20-40 years of age`

In [ ]:
item['release year'] = item['release date'].str[-4:].astype('int')

# Alternative way str.split()
# item['release year'] = item['release date'].str.split('-').str[-1].astype('int')

# Alternative way using datetime
# item['release year'] = pd.to_datetime(item['release date']).dt.year

In [ ]:
plt.figure(figsize = (15,10))
plt.xticks(rotation = 90)
sns.countplot(x = item['release year'])
plt.show()
print()

**Insights:**

- `Significant increase in number of movies after 1990 and a sudden drop before 2000 (around 1998)`

In [ ]:
data.info()

In [ ]:
sns.countplot(x = data['rating'])
plt.show()
ratings = data['rating'].value_counts(normalize=True)

**Insights:**

- `Around 34% of movies are rated as 4 and 6% as 1`

In [ ]:
sns.countplot(user['gender'])
plt.show()

gender_dist = user['gender'].value_counts(normalize = True)
print(gender_dist*100)

**Insights:**

- `Of all the users who rated, ~71% are men and 29% women`

In [ ]:
plt.figure(figsize=(16,7))                             # to enlarge figure size
plt.xticks(rotation = 90)
sns.countplot(user['occupation'])
plt.show()

occupation = user['occupation'].value_counts(normalize=True)
print(occupation*100)

**Insights:**

- `Highest percentage of movie rating population is student and least are doctor's and homemaker's`

In [ ]:
## Additional

user['occupation'].replace('none','other',inplace=True)       # Converting 'none' type category in occupation column to 'other'
occupation = user['occupation'].value_counts(normalize=True)
plt.figure(figsize=(20,10))
occupation.plot(kind='bar',color='green')
plt.tick_params(axis="x", rotation=90,labelsize=18)
plt.tick_params(axis="y", labelsize=15)
plt.show()

### 8. Visualize how popularity of genres has changed over the years - 10 marks

Note that you need to use the **percent of number of releases in a year** as a parameter of popularity of a genre

Hint 1: You need to reach to a data frame where the release year is the index and the genre is the column names (one cell shows the number of release in a year in one genre) or vice versa. (Drop unnecessary column if there are any)

Hint 2: Find the total number of movies release in a year(use item dataset to get count of movies released in a particular year, store that value in a new column as 'total'). Now divide the value of each genre in that year by total to get percentage number of release in a particular year.
`(df.div(df['total'], axis= 0) * 100)`

Once that is achieved, you can either use univariate plots or can use the heatmap to visualise all the changes over the years 
in one go. 

Hint 3: Use groupby on the relevant column and use sum() on the same to find out the number of releases in a year/genre.

In [ ]:
genre_by_year = item.groupby('release year').sum()
# Group by data based on release year and sum of all the genres to find the number of movies release in a particular in that genre

genre_by_year = genre_by_year.drop(columns = 'movie id')
# Dropping 'movie id' because it is not required here

genre_by_year

In [ ]:
movie_count = item.groupby('release year')['movie id'].count().reset_index().rename(columns={'movie id':'Total'}).set_index('release year')
genre_by_year.join(movie_count)
# Calculating total of each year and forming a new column for it

genre_by_year = genre_by_year.join(movie_count)

In [ ]:
genre_by_year = (genre_by_year.div(genre_by_year['Total'], axis= 0) * 100).drop('Total',axis=1).T
# Diving each row by its total to calculate percentages
# 'Total' column has been dropped
# .T is used to change rows into columns and columns into rows

genre_by_year

In [ ]:
plt.figure(figsize=(20,7))  #setting the figure size
sns.heatmap(genre_by_year, cmap='Accent')  #heat map to plot the above table
plt.show()

**Insights:**

- `Popularity in drama and comedy is very fluctuating with increase in years`

- `Romance, Sci-Fi, and Thriller has been constant during last 6-7 years`

- `Western movies gained popularity over some years and then totally vanished`

### 9. Find the top 25 movies in terms of average ratings for movies that have been rated more than 100 times - 10 marks

Hints : 

1. Find the count of ratings and average ratings for every movie.
2. Slice the movies which have ratings more than 100.
3. Sort values according to average rating such that movie which highest rating is on top.
4. Select top 25 movies.
5. You will have to use the .merge() function to get the movie titles.

Note: This question will need you to research about groupby and apply your findings. You can find more on groupby on https://realpython.com/pandas-groupby/.

In [ ]:
# Group by data according to movie id and use metric count and mean to get count of ratings and average ratings for every movie.

movie = data.groupby('movie id')['rating'].agg(['count','mean'])

movie.head()

In [ ]:
# Slicing movies have count of ratings more than 100 and storing it in the original 'movie' dataframe. 

movie = movie[movie['count'] > 100]

movie.head()

In [ ]:
# Sorting the dataframe according to the average movie ratings

movie = movie.sort_values(by='mean',ascending=False)

movie.head()

In [ ]:
# Merging with 'item' dataset to get movie titles
# Selecting top 25 movies only

movie.merge(item[['movie id', 'movie title']],on='movie id',how='left').head(25)

### 10. Check for the validity of the below statements with respect to the data provided - 10 marks

* Men watch more drama than women
* Women watch more Sci-Fi than men
* Men watch more Romance than women

**compare the percentages**

**Please pay attention to what should be the denominator while calculating percentages**

1. Merge all the datasets

2. There is no need to conduct statistical tests around this. Just **compare the percentages** and comment on the validity of the above statements.

3. you might want ot use the .sum(), .div() function here.

4. Use number of ratings to validate the numbers. For example, if out of 4000 ratings received by women, 3000 are for drama, we will assume that 75% of the women watch drama.

In [ ]:
# merging on all datasets to get one dataframe

ud  = user.merge(data,on='user id',how='inner')
df = item.merge(ud,on='movie id',how='inner')
df.head()

In [ ]:
Genre_by_gender = df.groupby('gender').sum().loc[:,'Action':'Western'] 
#Group by gender and aggregate with sum and select all the genre columns

In [ ]:
Genre_by_gender['total'] = df['gender'].value_counts()  #Row total of the dataframe

In [ ]:
Genre_by_gender

In [ ]:
Genre_by_gender = Genre_by_gender.div(Genre_by_gender.total, axis= 0) * 100 
#dividing each cell with row total and multiplying by 100

Genre_by_gender

In [ ]:
# Additional

# Plotting results for Drama, Sci-Fi and Romance

fig, ax = plt.subplots(ncols = 3, figsize = (18, 5))             
# Using subplots with 3 columns so that all figure are plotting in one row 

Genre_by_gender['Drama'].plot(kind='barh',label='Drama',ax=ax[0])
ax[0].legend()
# legend is used to get the labels, ax is to detemine the position of the plot
# 'barh' is for thr horizontal bar plot

Genre_by_gender['Sci-Fi'].plot(kind='barh',label='Sci-Fi',ax=ax[1])
ax[1].legend()

Genre_by_gender['Romance'].plot(kind='barh',label='Romance',ax=ax[2])
ax[2].legend()

plt.show()

**Conclusion:**
    
* `Of all the ratings given by women 43% were for Drama movies and for Men it was 39%. Therefore the statement is false. Women watch more Drama`


* `Of all the ratings given by women 10% were for Sci-FI movies and for Men it was 14%. Therefore the statement is false. Men watch more Sci-Fi`


* `Of all the ratings given by women 23% were for Drama movies and for Men it was 18%. Therefore the statement is false. Women watch more Romance`

##### ` Answer: All the statements were false.`